header {
  position: fixed;
  top:0;
  height: 80px;
  font-size: 20px;
  padding: 10px;
  background-color: #18191821;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  background-color: #18191821;
  width: 100%;
}

.content-container {
  max-width: 90%;
  margin: 100px auto 60px;
}